<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://functionuserdetailsgraphapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/5bfd0799-5a6d-4791-90a5-9ea4d2905ff3/resourceGroups/PowerAutomate-Jisha/providers/Microsoft.Web/sites/FunctionUserDetailsGraphApi</ResourceId>
    <UserName>$FunctionUserDetailsGraphApi</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://functionuserdetailsgraphapi.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>